In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
# from matplotlib.mlab import PCA as mlabPCA # deprecated
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')
sns.set_style("whitegrid")

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

useducation_df = pd.read_sql_query('select * from useducation',con=engine)

engine.dispose()


useducation_df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

In [31]:
x = useducation_df['GRADES_8_G'] - useducation_df['GRADES_4_G']
x.sum()

-364571.0

In [2]:
cols = ['ENROLL', 'TOTAL_REVENUE', 'FEDERAL_REVENUE','STATE_REVENUE', 
        'LOCAL_REVENUE', 'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE', 
        'SUPPORT_SERVICES_EXPENDITURE','OTHER_EXPENDITURE', 
        'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G','GRADES_KG_G', 
        'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G',
        'GRADES_9_12_G', 'GRADES_ALL_G']

for state in cols:
    useducation_df.loc[useducation_df['STATE'] == state, cols ] = useducation_df.loc[useducation_df['STATE'] == state, cols ].mean()

useducation_df.dropna(inplace=True)

#### Compute the average score for each row for all students weighted properly by grade. Notice that the number of students in the 4th grade isn't the same as the number of students in the 8th grade. So, you should appropriately weigh the scores.

In [3]:
useducation_df['total_score'] = (useducation_df['GRADES_4_G']*((useducation_df['AVG_MATH_4_SCORE'] + useducation_df['AVG_READING_4_SCORE'])*0.5) + useducation_df['GRADES_8_G']
                                 * ((useducation_df['AVG_MATH_8_SCORE'] + useducation_df['AVG_READING_8_SCORE'])*0.5))/(useducation_df['GRADES_4_G'] + useducation_df['GRADES_8_G'])

In [4]:
useducation_df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE,total_score
209,1996_ALABAMA,ALABAMA,1996,735912.0,3365113.0,334858.0,2138717.0,891538.0,3572283.0,1987018.0,...,58305.0,42510.0,469370.0,207980.0,686983.0,211.646974,256.594863,210.920767,260.276441,235.106342
211,1996_ARIZONA,ARIZONA,1996,764681.0,4143304.0,378917.0,1798363.0,1966024.0,4391555.0,1860007.0,...,60514.0,42041.0,511925.0,210289.0,726709.0,217.575940,267.874834,206.529788,263.283638,238.321404
212,1996_ARKANSAS,ARKANSAS,1996,452907.0,2183384.0,192152.0,1296247.0,694985.0,2297381.0,1264275.0,...,37064.0,27613.0,283883.0,131997.0,417860.0,215.846436,261.652745,208.837716,271.834590,240.773675
213,1996_CALIFORNIA,CALIFORNIA,1996,5460484.0,31282981.0,2603882.0,17061474.0,11617625.0,31561692.0,16880730.0,...,406456.0,298669.0,3516572.0,1525618.0,5115423.0,209.129083,262.772478,201.912591,269.197451,234.719834
214,1996_COLORADO,COLORADO,1996,655679.0,3891203.0,194998.0,1664676.0,2031529.0,4075165.0,2052264.0,...,52269.0,37179.0,423510.0,185700.0,621730.0,225.805858,275.608214,221.653243,268.168154,247.750273

#### What are the correlations between this newly created score variable and the expenditure types? Which 1 of the expenditure types is more correlated than the others?

In [5]:
useducation_df[['total_score', 'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE',
               'OTHER_EXPENDITURE','CAPITAL_OUTLAY_EXPENDITURE']].corr()

,total_score,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
total_score,1.000000,0.086797,0.100311,0.092225,0.015186,0.001657
TOTAL_EXPENDITURE,0.086797,1.000000,0.989849,0.993285,0.941120,0.928628
INSTRUCTION_EXPENDITURE,0.100311,0.989849,1.000000,0.974872,0.898766,0.885351
SUPPORT_SERVICES_EXPENDITURE,0.092225,0.993285,0.974872,1.000000,0.948014,0.915436
OTHER_EXPENDITURE,0.015186,0.941120,0.898766,0.948014,1.000000,0.921652
CAPITAL_OUTLAY_EXPENDITURE,0.001657,0.928628,0.885351,0.915436,0.921652,1.000000

Instruction expenditure is more correlated than the others

#### Now, apply PCA to the 4 expenditure types. How much of the total variance is explained by the 1st component?

In [14]:
X = useducation_df[["INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",
                  "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE"]]

X = StandardScaler().fit_transform(X)

sklearn_pca = PCA(n_components=1)
useducation_df["pca"] = sklearn_pca.fit_transform(X)

pca_ = sklearn_pca.explained_variance_ratio_
print(pca_)

[0.94312987]

more than 94% of the total cariance is expland by each componment from Sklearn PCA

#### What is the correlation between the overall score variable and the 1st principal component?

In [16]:
useducation_df.columns

Index(['PRIMARY_KEY', 'STATE', 'YEAR', 'ENROLL', 'TOTAL_REVENUE',
       'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE',
       'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE',
       'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE',
       'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 'GRADES_KG_G',
       'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G',
       'GRADES_9_12_G', 'GRADES_ALL_G', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE',
       'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE', 'total_score', 'pca_1',
       'pca'],
      dtype='object')

In [19]:
useducation_df[['total_score', 'pca','TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE',
       'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE',
       'CAPITAL_OUTLAY_EXPENDITURE']].corr()

,total_score,pca,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
total_score,1.000000,0.054225,0.086797,0.100311,0.092225,0.015186,0.001657
pca,0.054225,1.000000,0.992014,0.967914,0.988354,0.970155,0.957924
TOTAL_EXPENDITURE,0.086797,0.992014,1.000000,0.989849,0.993285,0.941120,0.928628
INSTRUCTION_EXPENDITURE,0.100311,0.967914,0.989849,1.000000,0.974872,0.898766,0.885351
SUPPORT_SERVICES_EXPENDITURE,0.092225,0.988354,0.993285,0.974872,1.000000,0.948014,0.915436
OTHER_EXPENDITURE,0.015186,0.970155,0.941120,0.898766,0.948014,1.000000,0.921652
CAPITAL_OUTLAY_EXPENDITURE,0.001657,0.957924,0.928628,0.885351,0.915436,0.921652,1.000000

The first PCA is less than all other expenditures

#### If you were to choose the best variables for your model, would you prefer using the 1st principal component instead of the expenditure variables? Why?